@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Rajdhani:400,500,600,700");
/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-0 {
  width: 20px;
  height: 26px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-1 {
  width: 26px;
  height: 26px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-2 {
  width: 26px;
  height: 23px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-3 {
  width: 26px;
  height: 23px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-4 {
  width: 28px;
  height: 22px;
}

/* line 21, src/scss/_generated/_spriteSVG.scss */
.icon-i-why-5 {
  width: 32px;
  height: 24px;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-chevron:before, .icon-museum:before, .icon-why-license:before, .icon-why-profile:before, .icon-why-xxx:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-chevron:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-museum:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-why-license:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-why-profile:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-why-xxx:before {
  content: "";
}

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 7, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Rajdhani', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_main.scss */
.h-main {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding-top: 280px;
  padding-bottom: 30px;
  background-image: url("../img/img-main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 14, src/scss/_components/_main.scss */
.h-main .c-grid {
  max-width: 1550px;
}

/* line 20, src/scss/_components/_main.scss */
.h-main__title {
  padding-bottom: 90px;
  color: #000000;
  text-transform: uppercase;
  line-height: 150px;
  font-size: 160px;
  font-weight: bold;
  letter-spacing: 0;
}

/* line 30, src/scss/_components/_main.scss */
.h-main__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 160px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #F30830;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 42, src/scss/_components/_main.scss */
.h-main__btn:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 47, src/scss/_components/_main.scss */
.h-main__btn:hover .icon-font {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 53, src/scss/_components/_main.scss */
.h-main__btn .icon-font {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #fff;
  font-size: 16px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_why.scss */
.h-why {
  position: relative;
  background-color: #fff;
}

/* line 7, src/scss/_components/_why.scss */
.h-why .c-grid {
  max-width: 1310px;
}

/* line 11, src/scss/_components/_why.scss */
.h-why__wrapper {
  padding-top: 155px;
  padding-bottom: 174px;
}

/* line 16, src/scss/_components/_why.scss */
.h-why__title {
  padding-bottom: 95px;
  text-align: center;
  color: #000000;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
}

/* line 26, src/scss/_components/_why.scss */
.h-why__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 31, src/scss/_components/_why.scss */
.h-why__col {
  width: 100%;
  max-width: 50%;
}

/* line 35, src/scss/_components/_why.scss */
.h-why__col:nth-of-type(even) {
  padding-left: 22px;
}

/* line 38, src/scss/_components/_why.scss */
.h-why__col:nth-of-type(odd) {
  padding-right: 65px;
}

/* line 44, src/scss/_components/_why.scss */
.h-why__col:nth-last-child(1) .h-why__block, .h-why__col:nth-last-child(2) .h-why__block {
  margin-bottom: 0;
}

/* line 50, src/scss/_components/_why.scss */
.h-why__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

/* line 54, src/scss/_components/_why.scss */
.h-why__block-left {
  width: 90px;
}

/* line 58, src/scss/_components/_why.scss */
.h-why__block-right {
  width: 100%;
  max-width: -webkit-calc(100% - 90px);
  max-width: calc(100% - 90px);
}

/* line 63, src/scss/_components/_why.scss */
.h-why__block-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #F30830;
}

/* line 73, src/scss/_components/_why.scss */
.h-why__block-title {
  padding-bottom: 19px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
}

/* line 81, src/scss/_components/_why.scss */
.h-why__block-desc {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
}

/* line 90, src/scss/_components/_why.scss */
.h-why__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 200px;
}

/* line 99, src/scss/_components/_why.scss */
.h-why__info a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 104, src/scss/_components/_why.scss */
.h-why__info a:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 106, src/scss/_components/_why.scss */
.h-why__info a:hover:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 109, src/scss/_components/_why.scss */
.h-why__info a:hover:nth-of-type(2) {
  background-color: rgba(26, 26, 26, 0.9);
}

/* line 112, src/scss/_components/_why.scss */
.h-why__info a:hover:nth-of-type(3) {
  background-color: rgba(51, 51, 51, 0.9);
}

/* line 117, src/scss/_components/_why.scss */
.h-why__info a:nth-of-type(1) {
  background-color: #000000;
}

/* line 120, src/scss/_components/_why.scss */
.h-why__info a:nth-of-type(2) {
  background-color: #1A1A1A;
}

/* line 123, src/scss/_components/_why.scss */
.h-why__info a:nth-of-type(3) {
  background-color: #333333;
}

/* line 128, src/scss/_components/_why.scss */
.h-why__info a > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}

/* line 135, src/scss/_components/_why.scss */
.h-why__info a > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 144, src/scss/_components/_why.scss */
.h-why__info a .icon-font {
  color: #fff;
  font-size: 20px;
}

/* line 149, src/scss/_components/_why.scss */
.h-why__info a span {
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  font-size: 14px;
  font-family: 'SF Pro Text', sans-serif;
}

/* line 3, src/scss/_components/_experience.scss */
.h-experience {
  position: relative;
  background-color: #F6F7FB;
}

/* line 7, src/scss/_components/_experience.scss */
.h-experience .c-grid {
  max-width: 1084px;
}

/* line 11, src/scss/_components/_experience.scss */
.h-experience__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 19, src/scss/_components/_experience.scss */
.h-experience__bg img {
  position: absolute;
}

/* line 22, src/scss/_components/_experience.scss */
.h-experience__bg img:nth-of-type(1) {
  left: 0;
  top: 64px;
}

/* line 26, src/scss/_components/_experience.scss */
.h-experience__bg img:nth-of-type(2) {
  top: 33px;
  right: 0;
}

/* line 30, src/scss/_components/_experience.scss */
.h-experience__bg img:nth-of-type(3) {
  bottom: 220px;
  left: 0;
}

/* line 34, src/scss/_components/_experience.scss */
.h-experience__bg img:nth-of-type(4) {
  right: 400px;
  bottom: 400px;
}

/* line 38, src/scss/_components/_experience.scss */
.h-experience__bg img:nth-of-type(5) {
  bottom: -30px;
  right: 0;
}

/* line 45, src/scss/_components/_experience.scss */
.h-experience__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 120px;
  padding-bottom: 98px;
}

/* line 53, src/scss/_components/_experience.scss */
.h-experience__row-0 {
  width: 100%;
  max-width: 739px;
  margin-left: 77px;
  padding-bottom: 66px;
}

/* line 60, src/scss/_components/_experience.scss */
.h-experience__row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 66, src/scss/_components/_experience.scss */
.h-experience__col {
  width: 100%;
}

/* line 69, src/scss/_components/_experience.scss */
.h-experience__col-0 {
  max-width: 269px;
  padding-right: 57px;
}

/* line 74, src/scss/_components/_experience.scss */
.h-experience__col-1 {
  max-width: 484px;
}

/* line 78, src/scss/_components/_experience.scss */
.h-experience__col-2 {
  max-width: 301px;
  padding-left: 41px;
}

/* line 84, src/scss/_components/_experience.scss */
.h-experience__title {
  padding-bottom: 54px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0;
  line-height: 90px;
}

/* line 94, src/scss/_components/_experience.scss */
.h-experience__desc {
  padding-bottom: 40px;
  font-size: 22px;
  font-family: "SF Pro Text", sans-serif;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
}

/* line 103, src/scss/_components/_experience.scss */
.h-experience__text {
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0;
  line-height: 26px;
}

/* line 110, src/scss/_components/_experience.scss */
.h-experience__text--pb {
  padding-bottom: 40px;
}

/* line 115, src/scss/_components/_experience.scss */
.h-experience__mac {
  width: 260px;
  height: 145px;
}

/* line 119, src/scss/_components/_experience.scss */
.h-experience__mac-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 1px;
  width: 214px;
  height: 141px;
  margin-left: auto;
  margin-right: auto;
  background: #F3F7FF;
  border: 1px solid #B4C2DF;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
}

/* line 135, src/scss/_components/_experience.scss */
.h-experience__mac-bottom {
  height: 4px;
  background-color: #B4C2DF;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
          clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

/* line 141, src/scss/_components/_experience.scss */
.h-experience__mac-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 87px;
  height: 87px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

/* line 151, src/scss/_components/_experience.scss */
.h-experience__mac-circle--0 {
  left: 5px;
  background: rgba(227, 30, 58, 0.85);
  -webkit-box-shadow: 0 2px 14px 0 rgba(210, 19, 30, 0.3);
          box-shadow: 0 2px 14px 0 rgba(210, 19, 30, 0.3);
}

/* line 157, src/scss/_components/_experience.scss */
.h-experience__mac-circle--1 {
  right: 5px;
  background: rgba(0, 43, 168, 0.85);
  -webkit-box-shadow: 0 2px 14px 0 rgba(16, 36, 157, 0.3);
          box-shadow: 0 2px 14px 0 rgba(16, 36, 157, 0.3);
}

/* line 163, src/scss/_components/_experience.scss */
.h-experience__mac-circle p {
  font-size: 12px;
  font-weight: bold;
  font-family: 'SF Pro Text', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
}

/* line 171, src/scss/_components/_experience.scss */
.h-experience__mac-circle span {
  font-size: 14px;
  font-family: 'SF Pro Text', sans-serif;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 180, src/scss/_components/_experience.scss */
.h-experience__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 82px;
  margin-bottom: 16px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

/* line 190, src/scss/_components/_experience.scss */
.h-experience__card:last-of-type {
  margin-bottom: 0;
}

/* line 194, src/scss/_components/_experience.scss */
.h-experience__card > div {
  width: 50%;
}

/* line 197, src/scss/_components/_experience.scss */
.h-experience__card > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 48%;
}

/* line 203, src/scss/_components/_experience.scss */
.h-experience__card > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 52%;
}

/* line 210, src/scss/_components/_experience.scss */
.h-experience__card .icon-museum {
  color: rgba(0, 0, 0, 0.7);
  font-size: 28px;
}

/* line 215, src/scss/_components/_experience.scss */
.h-experience__card-badge {
  position: absolute;
  left: 17px;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #E6E6E6;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

/* line 228, src/scss/_components/_experience.scss */
.h-experience__card-badge span {
  font-size: 14px;
  font-weight: bold;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
}

/* line 237, src/scss/_components/_experience.scss */
.h-experience__card-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* line 242, src/scss/_components/_experience.scss */
.h-experience__card-num:nth-of-type(1) {
  margin-bottom: 3px;
}

/* line 246, src/scss/_components/_experience.scss */
.h-experience__card-num:nth-of-type(2) {
  margin-top: 3px;
}

/* line 252, src/scss/_components/_experience.scss */
.h-experience__card-num--blue:before, .h-experience__card-num--red:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: -4px;
  left: -10px;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  height: -webkit-calc(100% + 8px);
  height: calc(100% + 8px);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

/* line 265, src/scss/_components/_experience.scss */
.h-experience__card-num--blue p,
.h-experience__card-num--blue span {
  color: #002BA8 !important;
}

/* line 270, src/scss/_components/_experience.scss */
.h-experience__card-num--blue:before {
  opacity: 0.1;
  background: #002BA8;
  -webkit-box-shadow: 0 2px 4px 0 rgba(16, 36, 157, 0.3);
          box-shadow: 0 2px 4px 0 rgba(16, 36, 157, 0.3);
}

/* line 278, src/scss/_components/_experience.scss */
.h-experience__card-num--red p,
.h-experience__card-num--red span {
  color: #E31E3A !important;
}

/* line 283, src/scss/_components/_experience.scss */
.h-experience__card-num--red:before {
  opacity: 0.1;
  background: #E31E3A;
  -webkit-box-shadow: 0 2px 4px 0 rgba(210, 19, 30, 0.3);
          box-shadow: 0 2px 4px 0 rgba(210, 19, 30, 0.3);
}

/* line 290, src/scss/_components/_experience.scss */
.h-experience__card-num p {
  width: 38px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
}

/* line 299, src/scss/_components/_experience.scss */
.h-experience__card-num span {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 100%;
  max-width: -webkit-calc(100% - 38px);
  max-width: calc(100% - 38px);
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

/* line 313, src/scss/_components/_experience.scss */
.h-experience__table {
  width: 100%;
  padding: 40px 70px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

/* line 320, src/scss/_components/_experience.scss */
.h-experience__table-head {
  padding-bottom: 30px;
}

/* line 323, src/scss/_components/_experience.scss */
.h-experience__table-head svg {
  width: 107px;
  height: 20px;
}

/* line 330, src/scss/_components/_experience.scss */
.h-experience__table-body table {
  width: 100%;
}

/* line 333, src/scss/_components/_experience.scss */
.h-experience__table-body table thead {
  background: #F9FAFC;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

/* line 337, src/scss/_components/_experience.scss */
.h-experience__table-body table thead th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 343, src/scss/_components/_experience.scss */
.h-experience__table-body table thead th:nth-of-type(1) {
  padding-left: 20px;
}

/* line 348, src/scss/_components/_experience.scss */
.h-experience__table-body table thead th:nth-of-type(2) p {
  color: #E31E3A;
}

/* line 353, src/scss/_components/_experience.scss */
.h-experience__table-body table thead th:nth-of-type(3) p {
  color: #002BA8;
}

/* line 359, src/scss/_components/_experience.scss */
.h-experience__table-body table thead p {
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0;
}

/* line 372, src/scss/_components/_experience.scss */
.h-experience__table-body table tbody tr {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 375, src/scss/_components/_experience.scss */
.h-experience__table-body table tbody tr:last-of-type {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 381, src/scss/_components/_experience.scss */
.h-experience__table-body table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 387, src/scss/_components/_experience.scss */
.h-experience__table-body table td:nth-of-type(1) {
  padding-left: 10px;
}

/* line 391, src/scss/_components/_experience.scss */
.h-experience__table-body table td div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #E6E6E6;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

/* line 401, src/scss/_components/_experience.scss */
.h-experience__table-body table td div span {
  font-size: 14px;
  font-weight: bold;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
}

/* line 410, src/scss/_components/_experience.scss */
.h-experience__table-body table td span {
  position: relative;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

/* line 417, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.red, .h-experience__table-body table td span.blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81px;
  height: 36px;
  padding-right: 14px;
  font-weight: 600;
}

/* line 426, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.red:before, .h-experience__table-body table td span.blue:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: -14px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

/* line 438, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.red {
  color: #E31E3A;
}

/* line 441, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.red:before {
  background: rgba(227, 30, 58, 0.1);
}

/* line 446, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.blue {
  color: #002BA8;
}

/* line 449, src/scss/_components/_experience.scss */
.h-experience__table-body table td span.blue:before {
  background-color: rgba(0, 43, 168, 0.1);
}

/* line 458, src/scss/_components/_experience.scss */
.h-experience__table-footer {
  padding-top: 10px;
}

/* line 461, src/scss/_components/_experience.scss */
.h-experience__table-footer p {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  font-family: 'SF Pro Text', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
}

/* line 471, src/scss/_components/_experience.scss */
.h-experience__table-title {
  padding-top: 8px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
}

/* line 4, src/scss/_components/_providers.scss */
.h-providers .c-grid {
  max-width: 1391px;
}

/* line 8, src/scss/_components/_providers.scss */
.h-providers__wrapper {
  padding-bottom: 90px;
}

/* line 12, src/scss/_components/_providers.scss */
.h-providers__title {
  padding-bottom: 44px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 62px;
}

/* line 22, src/scss/_components/_providers.scss */
.h-providers .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 26, src/scss/_components/_providers.scss */
.h-providers .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

/* line 31, src/scss/_components/_providers.scss */
.h-providers .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/_accounts.scss */
.h-accounts {
  background-color: #F6F7FB;
}

/* line 6, src/scss/_components/_accounts.scss */
.h-accounts__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 110px;
  padding-bottom: 15px;
}

/* line 13, src/scss/_components/_accounts.scss */
.h-accounts__title {
  padding-bottom: 15px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 90px;
}

/* line 24, src/scss/_components/_accounts.scss */
.h-accounts__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 27, src/scss/_components/_accounts.scss */
.h-accounts__row-left, .h-accounts__row-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

/* line 33, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div, .h-accounts__row-right > div {
  width: 50%;
}

/* line 36, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div p, .h-accounts__row-right > div p {
  padding-bottom: 25px;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F30830;
  letter-spacing: 0;
  line-height: 70px;
}

/* line 46, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div span, .h-accounts__row-right > div span {
  display: block;
  font-size: 24px;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
  line-height: 32px;
}

/* line 55, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div img, .h-accounts__row-right > div img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 65, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div:nth-of-type(1) {
  padding-right: 70px;
}

/* line 68, src/scss/_components/_accounts.scss */
.h-accounts__row-left > div:nth-of-type(1) p,
.h-accounts__row-left > div:nth-of-type(1) span {
  text-align: right;
}

/* line 78, src/scss/_components/_accounts.scss */
.h-accounts__row-right > div:nth-of-type(2) {
  padding-left: 70px;
}

/* line 3, src/scss/_components/_deposit.scss */
.h-deposit {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F7FB;
}

/* line 10, src/scss/_components/_deposit.scss */
.h-deposit .c-grid {
  max-width: 624px;
}

/* line 14, src/scss/_components/_deposit.scss */
.h-deposit__bg {
  z-index: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1678px;
  height: -webkit-calc(100% - (103px + 86px));
  height: calc(100% - (103px + 86px));
  margin-left: auto;
  margin-right: auto;
  padding-top: 103px;
  padding-bottom: 86px;
}

/* line 29, src/scss/_components/_deposit.scss */
.h-deposit__bg img {
  position: absolute;
}

/* line 32, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(1) {
  top: 0;
  left: 0;
}

/* line 36, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(2) {
  top: 20px;
  right: 220px;
}

/* line 40, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(3) {
  top: 50%;
  left: 120px;
}

/* line 44, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(4) {
  top: 50%;
  right: 0;
}

/* line 48, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(5) {
  bottom: 20px;
  left: 25px;
}

/* line 52, src/scss/_components/_deposit.scss */
.h-deposit__bg img:nth-of-type(6) {
  bottom: 0;
  right: 150px;
}

/* line 59, src/scss/_components/_deposit.scss */
.h-deposit__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 225px;
  padding-bottom: 215px;
}

/* line 66, src/scss/_components/_deposit.scss */
.h-deposit__title {
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  line-height: 100px;
}

/* line 76, src/scss/_components/_deposit.scss */
.h-deposit__text {
  padding-bottom: 70px;
  font-size: 20px;
  font-family: 'SF Pro Text', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  line-height: 27px;
}

/* line 85, src/scss/_components/_deposit.scss */
.h-deposit__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 90, src/scss/_components/_deposit.scss */
.h-deposit__block > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 94, src/scss/_components/_deposit.scss */
.h-deposit__block > div:nth-of-type(2) {
  width: 148px;
}

/* line 99, src/scss/_components/_deposit.scss */
.h-deposit__block p {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 32px;
}

/* line 107, src/scss/_components/_deposit.scss */
.h-deposit__block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 44px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #E30813;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 122, src/scss/_components/_deposit.scss */
.h-deposit__block a:hover {
  background-color: rgba(227, 8, 19, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
