// SECTION main :: START

section#h-main.h-main(parallax-js data-stellar-background-ratio="0.9")
  .c-grid
    .h-main__wrapper

      h1.h-main__title!= "The retail<br>traders<br>first <br>choise"

      a.h-main__btn(href="#h-why" class="" title="" anchor-js)
        i.icon-font.icon-chevron

// SECTION main :: END