// SECTION providers :: START

.h-providers {
  position: relative;

  .c-grid {
    max-width: 1391px;
  }

  &__wrapper {
    padding-bottom: 90px;
    @include adaptive(767) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  &__title {
    padding-bottom: 44px;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 62px;
    @include fluid(font-size, 320px, 768px, 30px, 40px);
    @include fluid(line-height, 320px, 1200px, 40px, 62px);
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

// SECTION providers :: END