.icon-i-why-0 {
  width:(20)*1px;
  height:(26)*1px;
}
.icon-i-why-1 {
  width:(26)*1px;
  height:(26)*1px;
}
.icon-i-why-2 {
  width:(26)*1px;
  height:(23)*1px;
}
.icon-i-why-3 {
  width:(26)*1px;
  height:(23)*1px;
}
.icon-i-why-4 {
  width:(28)*1px;
  height:(22)*1px;
}
.icon-i-why-5 {
  width:(32)*1px;
  height:(24)*1px;
}
